[tool.poetry]
name = "zod"
version = "0.0.15"
description = "Zenseact Open Dataset"
authors = ["Zenseact <opendataset@zenseact.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://zod.zenseact.com"
repository = "https://github.com/zenseact/zod"

[tool.poetry.scripts]
zod = "zod.cli.main:app"

[tool.poetry.dependencies]
python = "^3.6.1"
tqdm = ">=4.60"
numpy = [
    { version = "^1.21", platform = "darwin", python = "^3.8" },
    { version = "^1.19" },
]
scipy = [
    { version = "^1.9", platform = "darwin", python = "^3.8" },
    { version = "^1.5" },
]
h5py = [
    { version = "^3.3", platform = "darwin", python = "^3.8" },
    { version = "^3.1" },
]
pyquaternion = ">=0.9"
numpy-quaternion = "^2022.4.2"
dataclass-wizard = ">=0.22.2"
importlib-metadata = { version = "~=1.0", python = "<3.8" }
# Optional dependencies
typer = { extras = ["all"], version = "^0.7.0", optional = true }
dropbox = { version = "^11.36.0", optional = true }
opencv-python = { version = "^4", optional = true }
pyproj = { version = "^3", optional = true }
matplotlib = { version = "^3", optional = true }
plotly = { version = "^5.11.0", optional = true }
ipykernel = { version = ">=5", optional = true }
pandas = { version = "*", optional = true }

[tool.poetry.extras]
cli = ["typer", "dropbox"]
all = [
    "typer",
    "dropbox",
    "opencv-python",
    "pyproj",
    "matplotlib",
    "plotly",
    "pandas",
]

[tool.poetry.group.dev.dependencies]
ruff = { version = "^0.0.225", python = "^3.7" }
black = { version = "^22.10.0", python = "^3.7" }
pre-commit = { version = "^2.20.0", python = "^3.7" }

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 100
# isort, Warning, pycodestyle (see here: https://github.com/charliermarsh/ruff#supported-rules)
select = ["I", "W", "E"]

[tool.black]
line-length = 100
target-version = ["py38"]
